img {
height: 400px;    
width: 800px;
}

.centrovka {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
}
.uvelichit {
font-size: 20px;
color: white;
opacity: 70;
}

body {
 background-color: #191919;
}
.beliy {
color: white;
}