.mainblock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

p{
    color: white;
    opacity: 70%;
    font-size: 24px;
}

body {
    background-color: #191919; 
    margin: 50px;}


h2 {
    color: white;
    font-size: 28px;
    opacity: 75%;
    font-style: normal;
    }

h1{
    color: white;
    font-size: 60px;
}

img {
    margin: 50px;
}

th{
    color: white;
    opacity: 75%;
    font-size: 28px;
}
td{
    color: white;
    opacity: 70%;
    font-size: 24px;
}

table{
    border: 2px;
    color: white;
}